In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import ttest_1samp
from statsmodels.stats.power import tt_ind_solve_power

In [2]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [3]:
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [4]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)
age_sample

array([35, 18, 43, 65, 20, 28, 32, 50, 10, 27])

In [5]:
from scipy.stats import ttest_1samp

In [6]:
ttest,p_value=ttest_1samp(age_sample,30)

In [7]:
print(p_value)

0.6009534456776349

In [8]:
if p_value < 0.05:
    print("We are rejecting null hypothesis")
else:
    print("We are accepting null hypothesis")

We are accepting null hypothesis